.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  width: 60rem;
  max-width: 95%;
  background-color: white;
  border-radius: 12px;
  z-index: 11;
  overflow: hidden;
}

.header {
  background-color: #4f005f;
  color: white;
  padding: 1.6rem;
  font-size: 2rem;
  font-weight: bold;
}

.content {
  padding: 2.4rem 1.6rem;
  font-size: 1.6rem;
}

.actions {
  padding: 1.6rem;
  text-align: right;
}
