.new-expense {
  background-color: #a892ee;
  margin: 3.2rem auto;
  padding: 1.6rem;
  width: 80rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1.6rem 3.2rem;
  margin-right: 1.6rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  font-size: 1.6rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #510674;
  border-color: #510674;
}
